body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    display: block;
}


/*--- GENERIC METHODS ----*/

.LEFT {
    float: left
}

.RIGHT {
    float: right
}

.CENTER {
    margin: 0 auto;
}


/*--- GLOBAL VARIABLES ---*/

:root {
    --red: #b00;
    --blue: #4679bd;
    --grey: #ddd;
    --lightBlack: #303030;
    --greenMark: #66a992;
    --white: #F0FFFF;
    --sepLine: #d0d0d0;
    --detail-size: 300px;
}


/*--- NAVIGATION PART ---*/


/*
When the window get resized:

1. Make sure the navbar move to top
- content should move under

2. the menu should turn into an icon that can be toggled.
- Upon clicking the icon, the options will drop down.
- When a user click one of the menu, the page should link.


*/

nav div {
    display: inline-block;
}

nav {
    padding: 10px 10%;
}

.dekdoi-nav {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 50px;
    background-color: var(--lightBlack);
    z-index: 1000;
    border-bottom: 1px solid var(--sepLine);
    color: var(--white);
}

.dekdoi-nav h3 {}

.dekdoi-nav ul {
    margin: 5px 0px 0px 5px;
    display: inline-block;
}

.dekdoi-nav li {
    list-style: none;
    display: inline;
    padding: 1px 20px 5px 0px;
    width: 100%;
    font-size: 17px;
}

.dekdoi-nav a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: inherit;
}

.dekdoi-nav a:hover,
.current-item a {
    color: var(--greenMark);
}

.toggle-nav {
    display: none;
}


/*--- END OF NAVIGATION PART ---*/


/*--- MAIN CONTENT ---*/


/*@media screen and (max-width: 860px) {
    .dekdoi-content {
        width: 100%;
        position: block;
    }
}*/

.dekdoi-content {
    background-color: var(--grey);
    min-height: 500px;
}


/*--- END OF MAIN CONTENT ---*/
