/*--- GLOBAL VARIABLES ---*/

:root {
    --red: #b00;
    --blue: #4679bd;
    --grey: #ddd;
    --lightBlack: #303030;
    --greenMark: #66a992;
    --white: #F0FFFF;
    --sepLine: #d0d0d0;
    --detail-size: 300px;
}

body {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    display: block;
}


/*--- GENERIC METHODS ----*/

.CLEARFIX {
    overflow: auto;
}


/*--- NAVIGATION PART ---*/


/*
When the window get resized:

1. Make sure the navbar move to top
- content should move under

2. the menu should turn into an icon that can be toggled.
- Upon clicking the icon, the options will drop down.
- When a user click one of the menu, the page should link.


*/

nav {
    top: 0;
    width: 100%;
    min-height: 70px;
    display: block;
    position: fixed;
    background-color: white;
    color: #777777;
    font-weight: 600px;
    font-family: 'Raleway', sans-serif;
    z-index: 1000;
    overflow: auto;
    border-bottom: 1px solid #d0d0d0;
}

.dekdoi-nav {}

.nav-logo {}

.dekdoi-nav h3 {
    display: inline-block;
   /* margin:inherit;
    padding: inherit;*/
}

.dekdoi-nav ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    /*margin: 0;
    padding: 0;*/
}

.dekdoi-nav li {
    list-style: none;
    display: inline;
}

.dekdoi-nav a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 1px 20px 5px 0px;
    max-width: 100%;
    font-size: 17px;
    background-color: lightblue;
}

.dekdoi-nav a:hover,
.current-item a {
    color: var(--greenMark);
    background-color: #ddd;
}

.toggle-nav {
    display: none;
}


/*--- END OF NAVIGATION PART ---*/


/*------ MAIN CONTENT ------*/


/*@media screen and (max-width: 860px) {
    .dekdoi-content {
        width: 100%;
        position: block;
    }
}*/

section {
    min-height: 400px;
    max-width: 100%;
    margin: inherit;
    overflow: auto;
    text-align: center;
    line-height: inherit;
    /*border-bottom: 2px solid black;*/
}


/*--- START OF ABOUT ---*/

.dekdoi-about {
    margin-top: 70px;
    background-color: #fccee0;
}


/*--- END OF ABOUT ---*/


/*--- START OF CONTACT ---*/

.dekdoi-contact {
    background-color: #f3cefc;
}


/*--- END OF CONTACT ---*/


/*--- START OF RESUME ---*/

.dekdoi-resume {
    background-color: #fde6d0;
}


/*--- END OF RESUME ---*/


/*--- START OF MEDIA ---*/

.dekdoi-media {
    background-color: #d0fdfa;
    min-height: 90px;
}


/*--- END OF MEDIA ---*/


/*------ END OF MAIN CONTENT ------*/
